<h1>Estadísticas:</h1>
<table width="100%" height="100%">
<table>

    <tr>
        <td align="center" valign="center">Número de preguntas:</td>
        <td align="center" valign="center"><%= nP %></td>
    </tr>
    <tr>
        <td align="center" valign="center">Número de comentarios:</td>
        <td align="center" valign="center"><%= nC %></td>
    </tr>
    <tr>
        <td align="center" valign="center">Media comentarios por pregunta:</td>
        <td align="center" valign="center"><%= media %></td>
    </tr>
    <tr>
        <td align="center" valign="center">Número preguntas sin comentario:</td>
        <td align="center" valign="center"><%= psinC %></td>
    </tr>
    <tr>
        <td align="center" valign="center">Número preguntas con comentarios:</td>
        <td align="center" valign="center"><%= pconC %></td>
    </tr>
</table>